/*H1 style*/
h1 {
    font-family: "Verdana";
    font-size: 30px;
    font-weight: 600;
}

/*H4 style*/
h4 {
    font-family: "Verdana";
    font-size: 14px; 
    font-weight: bold;
    text-align: left
    
}

/*Badges style*/
button.badge {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    font-family: "Verdana";
    font-size: 14px;
    font-weight:100;
}

/*Nav Bar style*/
nav {
    background: -webkit-linear-gradient(bottom right, #ff751a, #ffcc00); /* gradient fades from yellow to deep orange */
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

/*List title style*/
h1.title {
    vertical-align: middle;
    text-align: center;
}

/*back button style*/
a.back {
    color: white;
}

/*Add Item button which opens overlay style*/
#open-overlay {
    float: right;
    background-color: white; 
    color: darkorange;
    border: 2px solid white;
    padding: 5px 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 4px;
    font-family: "Verdana";
    font-size: 14px;
}

/*List Members Bar style*/
#listMembersBar {
    margin-bottom: 20px;
    margin-left: 20px;
}

/*Badges individual colors*/
#A {
    background-color: #da88e0;
    border-color: #da88e0;
}
#B {
    background-color: #88c3e0;
    border-color; #88c3e0;
}
#C {
    background-color: #85bf56;
    border-color: #85bf56;
}
#D {
    background-color: #6676d1;
    border-color: #6676d1;
}

/*Add Item Bar style*/
#addItemsElements {
    margin-top: 125px;
}    

    /*Text input*/
    #text-input {
        float: left;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /*Badges bar on add item overlay*/
    #task-owner-bar {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    /*Add Button style*/
    #add-button {
        background-color: white;
        color: #4fb747;
        border: 2px solid #4fb747; /* green */
        border-radius: 4px;
        padding: 5px 30px;
        font-family: "Verdana";
        font-size: 14px;
    }

    #add-button:active {
        background-color: #4fb747; /* green */
        border: 2px solid #4fb747; /* green */
        color: white;
    }

/*List Group style*/
div.list-group {
    min-height: 4em;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-family: "Verdana";
    font-size: 14px;
}

/*List Item style*/
a.list-group-item {
    min-height: 4em;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

    /*Delete Button style*/
    .delete-button {
        margin: 0 10px 0 10px;
        padding: 2px 5px;
        float: right;
        background-color: white;
        color: dimgray;
        border: 2px solid gray;
        border-radius: 4px;
        font-family: "Verdana";
        font-size: 14px;
    }

    .delete-button:active {
        background-color: #e04b2a; /* red */
        border: 2px solid #e04b2a; /* red */
        color: white;
    }

/*Overlay styling*/
#add-item-overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    float: right;
    background-color: white; /* white color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}

    /* Position the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
        color: darkgray;
        text-decoration:none;
    }
    
/*
#toaster {
    position: fixed;
    height: 0;
    width: 100%;
    background-color: #b3efc2;
    transition: .7s;
}*/
